.container {
  margin-top: 30px;
}

.image-to-show {
  width: 500px;
  height: 300px;
  object-fit: fill;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.buttons {
  display: flex;
  padding: 15px 75px;
  font-size: 20px;
  justify-content: center;
}
button:hover {
  cursor: pointer;
}
