/* General settings */
:root {
    --black: #000000;
    --dkbrown:  #2C2C2C;
    --dkgrey: #0C1927;
    --grey: #35444F;
    --lightgrey: #495863;
    --blue: #4BCAFF;
    --white: #FFFFFF;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    max-width: 1280px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 auto;
}
.dark {
    background-color: #495863;
}
/* Navigation */
.logo {
    font-size: 80px;
    margin-top: 2rem;
}
.logo-black {
    color: var(--black);
}
.logo-white {
    color: white
}
.logo-blue {
    color: var(--blue);
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 24px;
    background-color: var(--grey);
    margin: 2rem 0;
}
nav li {
    padding: 1.5rem 2rem;
    border-right: 1px solid var(--white);
    align-items: center;
    text-align: center;
}
nav li:first-child {
    border-left: 1px solid var(--white);
}
nav li:hover {
    background-color: #222F3A;
}
nav a {
    color: var(--white);
    text-decoration: none;
}

/* Main section */

.main-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
}
main {
    flex-basis: 70%;
}
.main-img {
    border: .5px solid var(--black);
    text-align: center;
    padding: 4rem;
    transition: transform .2s;
}
.main-img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.main-container .main-text p {
    color:  var(--dkbrown);
    font-size: 18px;
    line-height: 24px;
    margin-top: 2rem;
}
.main-container .text-dk-theme p {
    color: white;
}

/* Aside menu section */
aside {
    flex-basis: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.aside-menu-list {
    border: .5px solid var(--black);
    font-size: 27px;
    line-height: 27px;
}
.aside-menu-list li {
    padding: 1.5rem 2rem;
}
.aside-menu-list li:hover {
    color: var(--white);
    background-color: #DBDBDB;
    padding-left: 4rem;
    transition: .4s ease-in-out;   
}
.aside-menu-list a {
    color: #495863;
    text-decoration: none;
}
.aside-menu-list .aside-menu-list-dk-theme {
    color: white;
}
.menu-dk li:hover {
    background-color:  #35444F;
    color: white;
}
/* Footer */ 
.footer {
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 3rem 0 1.5rem;
}
.footer-dk-theme {
    background-color: #DBDBDB;
}
.footer-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.footer-items li {
    font-size: 28px;
    padding: 1.3rem;
}

.footer-items a {
    text-decoration: none;
    color: var(--dkgrey);
}
.footer-items a:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer-copyright p {
    padding: 1.6rem 1.3rem;
}
